.label {
  font-weight: bold;
}
h2{
  color:green;
}
h1{
  color:darkgreen;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
.delete-burger{
  background-color:yellow;
}
body{
  background-color: lightgoldenrodyellow;
}
.change-devoured{
  background-color: red;
  color:white;
}
.burger{
  height:300px;
  width: 400px;
}
  